body {
    background-color: rgb(93,136,187);
    background: url(../assets/image/login_bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }